/* Universal Selector */ 
* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}


/* Element Selectors */ 
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

/* Id Selectors */ 

#container {
    display: inline-block;
    width: 85%;
    height: 100%;
    margin-top: 50px;
    margin-left: 100px;
    border: 2px solid #000;
}

#looking-for {
    width: 20%;
    height: 450px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    text-align: center;
    background-color: gray;
    border: 2px solid #000;
}

/* Class Selectors */
.navbar {
    text-align: center;
    font-size: xx-large;
    background-color: #000;
    color: white;
}

.recommended-window {
    padding: 20px;
}

.item-window {
    width: 90%;
    height: 100px;
    border: 2px solid #000;

}

.search-block {
    margin: 10%;
    height: 150px;
    background-color: #9c9da4;
    border: 2px solid #000;

}

.foodTitle { /* Centers title of Meal/Drink Name */
    text-align: center;
}

.contentDisplay{ /* Creates a little space and makes the Meal/Drink Card stand out */
    padding: 15px;
    background-color: black;
    border-radius: 25px;
}

/* Media Queries */