/* Universal Selector */ 
* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

/* Element Selectors */ 
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

/* Id Selectors */ 

#container {
    display: inline-block;
    width: 85%;
    height: 100%;
    margin-top: 50px;
    margin-left: 100px;
    border: 2px solid #000;
}

#clearMealHistory, #clearCocktailHistory {
    margin-bottom: 10px;
}

/* Class Selectors */
.navbar {
    text-align: center;
    font-size: xx-large;
    background-color: #000;
    color: white;
}

.recommended-window {
    padding: 20px;
}

.item-window {
    width: 90%;
    height: 100px;
    border: 2px solid #000;
}

.search-block {
    margin: 55px;
    width: 80%;
    padding: 15px;
    height: auto;
    background-color: #9c9da4;
    border: 2px solid #000;
    border-radius: 25px;
    margin-top: 100px;
}

.foodTitle { /* Centers title of Meal/Drink Name */
    text-align: center;
}

.contentDisplay{ /* Creates a little space and makes the Meal/Drink Card stand out */
    padding: 15px;
    background-color: black;
    border-radius: 25px;
    display: none;
}

.recommendedText {
    margin-top: 75px;
    margin-left: 50px;
    text-align: left;
    text-decoration: underline;
    color: black;
}

.myButt, .mealHistoryDiv, .cocktailHistoryDiv{
    margin-top: 20px;
}

.searchHeader {
    text-align: center;
}